@using TarakanSIMRS.Areas.Tarakan.Models.Patient
@model PatientPathwayViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (!string.IsNullOrEmpty(Model.getPatientPathway))
{
    <div class="alert-custom" style="background-color: green">
        <h3 class="mb-1">Clinical Pathway :</h3>
        <div class="glowing m-0">@Model.getPatientPathway</div>
    </div>
}