<footer class="border-top fixed-bottom bg-light">
    <div class="container text-center">
        &copy; 2025 - TarakanSIMRS - <a asp-area="Tarakan" asp-controller="Index" asp-action="Privacy">Privacy</a>
    </div>
</footer>