<footer class="border-top fixed-bottom">
    <div class="container">
        &copy; 2025 - TarakanSIMRS - <a asp-area="Tarakan" asp-controller="Index" asp-action="Privacy">Privacy</a>
    </div>
</footer>