@using TarakanSIMRS.Areas.Tarakan.Models.HealthRecord
@using TarakanSIMRS.Areas.Tarakan.Controllers
@model HealthRecordViewModel
@{
    ViewData["Title"] = "Dashboard";
}

@section Scripts {
<script src="~/js/HealthRecord/HealthRecord.js"></script>
}

<div class="container">
    <div class="card" style="margin: 5px auto;">
        <div class="card-header">
            <div style="margin: 5px 0px;">
                <button class="btn btn-primary" type="button" id="loadPartialFilter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg> Search Filter
                </button>
                <div class="modal fade bd-example-modal-xl" id="filterModal" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="titleFilter">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div id="filterContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Reg. Date</th>
                            <th>Que</th>
                            <th>MRN / Reg No</th>
                            <th>Patient Name</th>
                            <th>Gdr</th>
                            <th>Room / Bed</th>
                            <th>Refer</th>
                            <th>TRG</th>
                            <th>SOAP</th>
                            <th>CONF</th>
                            <th>Covid</th>
                            <th>Risk</th>
                            <th>EWS</th>
                            <th>Presc</th>
                            <th>Rad</th>
                            <th>Plafond Progress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.getRegistration != null)
                        {
                            foreach (var item in Model.getRegistration)
                            {
                                <tr>
                                    <td scope="row" colspan="18">@Html.Raw(HealthRecordController.StateEMRList(item, "title"))</td>
                                </tr>
                                <tr>
                                    <td>@Html.Raw(HealthRecordController.StateEMRList(item, "detail"))</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-footer">
        </div>
    </div>
</div>